/* =========================================================
 basic style
========================================================= */
h1 {
	font-size: 95px;
}
h2 {
	font-size: 70px;
}
h3 {
	font-size: 45px;
}
a {
	border-style: none;
}
li {
	list-style:none;
}
body {
	font-family: 'Quicksand', sans-serif;
	background-image: url(../image/bg.jpg);
	background-repeat: repeat;
	overflow-x: hidden;
	overflow-y: scroll;
}
header {
	width:100%;
	height: 105px;
	position: fixed;
	top: 0px;
	left:0px;
	z-index: 9999;
	background-image: url(../image/bg.jpg);
	background-repeat: repeat;
	-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.8);
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.8);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.8);
}
#header {
	margin: 0 auto;
	width: 1043px;
}
#container {
	margin: 130px auto 50px auto;
}
#wrapper {
	width: 1064px;
	height: 100%;
	padding: 10px;
	margin:0 auto;
}
#titleArea {
	position: relative;
	padding: 10px;
}
#searchArea {
	width: 450px;
	padding: 10px;
}
#q {
	margin: 0;
	display: inline-block;
	width: 400px;
	height: 28px;
	padding: 4px 34px 6px 4px;
	border: 1px solid #CCCCCC;
	font-size: 15px;
	background: url(../image/search.png) no-repeat scroll right center;
	background-color: #FFFFFF;
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	-moz-box-sizing: content-box;
     box-sizing: content-box;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#clear {
	display: none;
}
#resultArea {
	width:1000px;
	margin: 0 auto;
}
#resultMsg {
/*Empty*/
}
#result {
	margin-right:-10px;
	overflow:hidden;
	text-align:center;
}
#result li {
	color: #FFFFFF;
	font-size:11px;
	margin-bottom: 5px;
	list-style: none;
	cursor: pointer;
	margin: 11px;
	position: relative;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.8);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.8);
	box-shadow: 0 0 10px rgba(0,0,0,.8);
}
.con {
	margin-top: 5px;
	cursor: pointer;
}
.add {
/*Empty*/
}
.del {
/*Empty*/
}
#playlistArea {
	height: 95px;
}
#playlist {
	width: 100%;
	height: 110px;
	top: -20px;
	left: -30px;
	list-style: none;
	position: relative;
	overflow-y: none;
	overflow-x: auto;
}
#playlist li {
	float: left;
	cursor: pointer;
	position: relative;
}

#socialArea {
	margin-top: 10px;
	text-align: center;
}
#back-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index:9998;
}
#back-top a {
	width: 100px;
	display: block;
}
#back-top a:hover {
	background: transparent;
	color: #00afcc;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
#back-top a img {
	border-style: none;
}

#player-wrapper {
	margin: 10px 0px;
}

#p1-wrapper, #p2-wrapper{
	width:532px;
}
#p1-info, #p2-info { 
	text-align:center;
}
#p1-title, #p2-title{
	font-size:12px;
	padding:5px 0px;
}
/*
 player setting
 854×480 768×432 640×360 512×288 320×180 256×144
*/
.player {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 512px;
	height: 288px;
	margin: 10px;
	overflow: hidden;
	border-radius: 4px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.8);
	box-shadow: 0 0 10px rgba(0,0,0,.8);
}
.powered {
	padding: 5px;
	position: relative;
	top: 0px;
	right: 0px;
}
.pleft {
	width: 60px;
	height: 90px;
	position:absolute;
	top: 0px;
	left: 0px;
	background:url(../image/play.png) no-repeat top center;
	filter: alpha(opacity=0);
	-moz-opacity: 0.00;
	-khtml-opacity: 0.00;
	opacity: 0.00;
}
.pright {
	width: 60px;
	height: 90px;
	position:absolute;
	top: 0px;
	right: 0px;
	background:url(../image/play.png) no-repeat top center;
	filter: alpha(opacity=0);
	-moz-opacity: 0.00;
	-khtml-opacity: 0.00;
	opacity: 0.00;
}

.loadingWrap{
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
	z-index:10002;
}
.loadingWrap img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}

/* =========================================================
 parts style
========================================================= */

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/  
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */  

/**
 * 	Tool tip
 */

.my-custom-theme {
	border-radius: 5px;
	border: 1px solid #000;
	background: #4c4c4c;
	color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.my-custom-theme .tooltipster-content {
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
}

/*
* auto complete
*/
.ui-autocomplete {
	padding: 4px 34px 6px 4px;
	width:400px;
	position:fixed;
	background-color:#FFFFFF;
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	-moz-box-sizing: content-box;
     box-sizing: content-box;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index:10001;
}
.ui-menu-item {
	padding:5px;
}

.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-widget-content .ui-state-hover,
.ui-autocomplete .ui-widget-header .ui-state-hover,
.ui-autocomplete .ui-state-focus,
.ui-autocomplete .ui-widget-content .ui-state-focus,
.ui-autocomplete .ui-widget-header .ui-state-focus {
	border-bottom:dotted;
}
.ui-helper-hidden-accessible { display:none; }
